.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 85px;
    margin-left: 20px;
    
    
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header__center > .MuiSvgIcon-root {
    color: #fff;
    background-color: #E51E57;
    border-radius: 999px;
    padding: 10px;
    cursor: pointer;
}


.header__center > input {
    border: none;
    width: 250px;
    outline: none;
}

.header__center:hover {
    box-shadow:
   
    0 8.3px 17.9px rgba(0, 0, 0, 0.072),
    0 8.8px 20.4px rgba(0, 0, 0, 0.086),
    0 8px 20px rgba(0, 0, 0, 0.12)
  
}


.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}

.header__right > p{
    border-radius: 8px ;
    border: 2px solid black;
    padding: 8px;
    cursor: pointer;
}